html{
    background-color: #0b1322;
} 

*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 1560px;
    margin: 0 auto;
}

.wrapper{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}