.aside{
    padding-top: 100px;
    max-width: 40%;
    
    .sideImgContainer{
        width: 35%;
        position: absolute;
        top: 70px;
        left: 0;
        z-index: 10;
    }

    .sideTextContainer{
        flex-wrap: wrap;
        background-color: $secondary;
        width: 82%;
        padding-bottom: 20px;

        .text1{
            width: 90%;
            padding: 110% 0 30px 20px;
        }

        .text2{
            padding: 0 20px 0 20px;

            ul{
                list-style: inside;
            }
        }

        h5{
            text-transform: uppercase;
            padding-bottom: 10px;
        }
    }
}