main{
    background-color: $quaternary;
    position: relative;
}
.bottomPart{
    display: flex;
}

.blogContent{
    max-width: 60%;
}

.postContainer{
    width: 100%;
}
.headerImgContainer{
    position: absolute;
    top: -185px;
    box-shadow: -30px 30px $primary
}
.postText{
    padding: 65% 0 10px 40px;
    margin-left: -20px;
    width: 100%;
    box-shadow: -10px 10px $primary;

    h2{
        padding-bottom: 15px;
        text-align: left;
    }

    p:nth-of-type(1){
        padding-bottom: 40px;
    }
}

.comments{
    width: 100%;
    padding-top: 50px;

    h3{
        margin-bottom: 50px;
    }
}

.user1,
.user2{
    display: flex;
    padding-bottom: 70px;

    .userImgContainer{
        width: 75%;

        img{
            width: 100%;
        }
    }
    .userCommentContainer{
        padding-left: 30px;
    }
}

.interact{
    padding-bottom: 80px;

    .tag{
        display: flex;
        justify-content: space-between;
    }
    
    .nameTag, 
    .emailTag{
        display: flex;
        width: calc(50% - 20px);
        flex-direction: column;
        padding-bottom: 20px;

        label{
            padding-left: 20px;
        }
    }

    input{
        border: none;
        border-bottom: 2px solid $primary;
        background-color: $quaternary;
        color: $secondary;
    }

    textarea{
        width: 100%;
        border: 2px solid $primary;
        background-color: $quaternary;
        padding-top: 40px;
        color: $secondary;
        resize: none;
    }

    label[for="comment"]{
        position: relative;
        top: 40px;
        left: 20px;
    }

    button{
        width: 100%;
        margin-top: 20px;
        text-transform: uppercase;
        background-color: $secondary;
        color: $tertiary;
        border: none;
        line-height: 1.8;

        &:hover,
        &:focus{
            background-color: $tertiary;
            color: $secondary;
        }
    }

}

footer{
    background-color: $primary;
    text-align: center;
    color: $quaternary;
    
}