html{
    background-color: #233860;
}

.contactHeader{
    height: 50vh;
    background: url(../under-the-sea-assets/contact-header.jpg) center / cover no-repeat;
    position: relative;

    .headerContainer{
        height: 90%;
        display: flex;
        text-align: center;

        .headerTextContainer{
            width: 100%;
            padding-top: 50px;
        }
    }   
}