.widerScreen{
    height: 650px;
    background: url(../under-the-sea-assets/header-image.jpg) center / cover no-repeat;
    position: relative;
    // background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.headerContainer{
    display: flex;
}
.headerTextContainer{
    max-width: 35%;
    flex-wrap: wrap;
    z-index: 20;
}
.headerImgContainer{
    position: absolute;
    top: 20%;
    right: 0;
    width: 65%;
    max-width: 770px;
}
