@media (max-width:1260px){

    //header
    .headerImgContainer{
        width: 60%;
        transition: 1.4s;
    }
}

@media(max-width: 1000px){

    //header
    .headerTextContainer{
        width: 50%;
    }
    .headerImgContainer{
        transition: 1.4s;
        top: 40%;
    }

    //Section 2

    .additions{
        padding-bottom: 0;
        .addImgContainer{
            align-self: center;
            .addImgSubContainer{
                transition: 1s;
                // box-shadow: none;
                position: relative;
                width: 95%;
                top: 0;

            }
        }
    }

    .nemo{
        .nemoImgContainer{
            align-self: center;
            margin-left: 15px;
            .nemoImgSubContainer{
                transition: 1s;
                // box-shadow: none;
                position: relative;
                width: 95%;
                top: 0;

            }
        }
    }
}

@media (max-width: 840px){

    //header
    .headerTextContainer{
        max-width: 100%;
        width: 100%;
    }
    .headerImgContainer{
        display: none;
    }

    // section 2
    .additions{
        flex-direction: column;
        text-align: center;
        padding-top: 15px;

        .addImgContainer{
            width: 80%;
        }

        .addTextContainer{
            max-width: 100%;

            .addTextSubContainer{
                padding-left: 0;
            }
        }
    }

    .nemo{
        flex-direction: column-reverse;
        padding-top: 50px;

        .nemoTextContainer{
            max-width: 100%;
            text-align: center;

            .nemoTextSubContainer{
                padding-right: 0;
                text-align: center;
            }
        }
        .nemoImgContainer{
            width: 80%;
            margin-left: 0;
        }
    }

    //section 3
    .section3{
        .getInvolved{
            flex-direction: column;
    
            .locations,
            .community,
            .blog, .intouch{
                width: 82%;
            }
        }
    }
    
    //section 4
    
    .section4{

        .imgBGContainer{
            height: 15rem;
        }
        .profile{

            .profileImgContainer{
                    display: none;
            }
            .profileTextContainer{
                width: 100%;
                margin: 0 auto;
                text-align: center;

                h2{
                    text-align: center;
                }

            }
        }    
    }

}

@media (max-width:560px){
    
    //Header

    .menuIcon{
        transition: 1.4s;
        display: block;
        height: 40px;
        padding-top: 10px;
        text-align: right;
        position: fixed;
        z-index: 30;
        
    }
    .navTab ul{
        transition: 1.2s;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        right: -150px;
    }

    //Section 4

    .section4{

        .imgBGContainer{
            height: 10rem;
        }
    }

    //Gallery

    .gallery ul{
        flex-direction: column;
        align-items: center;

        li{
            width: 100%;
            padding: 10px 0;
        }
    }
}