@media (max-width:1260px){
//START OF HOME PAGE STYLE
    //Header
    .homeHeaderImgContainer{
        width: 60%;
        transition: 1.4s;
    }
//END OF HOME PAGE STYLE

//START OF CCONTACT PAGE STYLE
    .postText{
        h2{
            line-height: 1.2;
        }
    }
//END OF CCONTACT PAGE STYLE

}

@media(max-width: 1000px){

//START OF HOME PAGE STYLE

    //HEADER
    .homeHeaderTextContainer{
        width: 50%;
    }
    .homeHeaderImgContainer{
        transition: 1.4s;
        top: 40%;
    }

    // Section 1 - what is under the sea
    
    .section1Text{
        padding: 100px 0;
        transition: 1.2s;
    }

    // Section 2 - new add and meet nemo

    .additions{
        padding-bottom: 0;
        .addImgContainer{
            align-self: center;
            .addImgSubContainer{
                transition: 1s;
                // box-shadow: none;
                position: relative;
                width: 95%;
                top: 0;

            }
        }
    }

    .nemo{
        .nemoImgContainer{
            align-self: center;
            margin-left: 15px;
            .nemoImgSubContainer{
                transition: 1s;
                // box-shadow: none;
                position: relative;
                width: 95%;
                top: 0;

            }
        }
    }
//END OF HOME PAGE STYLE

//START OF CONTACT PAGE STYLE

    .contentPart{
        flex-direction: column-reverse;
    }
    .contactaside{
        padding-top: 50px;
        max-width: 100%;
        width: 100%;
        text-align: center;
        
    }
    .contact{
        position: relative;
        top: -100px;
        right: 0;
        width: 100%;
    }
//END OF CONTACT PAGE STYLE
    
}


@media (max-width: 840px){
//START OF HOME PAGE STYLE
    //header
    .homeHeaderTextContainer{
        max-width: 100%;
        width: 100%;
    }

    h1.homePageTitle{
        font-size: 5.2rem;
        transition: 0.6s;
    }
    
    // Section 2 - new add and meet nemo
    .additions{
        flex-direction: column;
        text-align: center;
        padding-top: 15px;

        .addImgContainer{
            width: 80%;
        }

        .addTextContainer{
            max-width: 100%;

            .addTextSubContainer{
                padding-left: 0;
            }
        }
    }

    .nemo{
        flex-direction: column-reverse;
        padding-top: 50px;

        .nemoTextContainer{
            max-width: 100%;
            text-align: center;

            .nemoTextSubContainer{
                padding-right: 0;
                text-align: center;
            }
        }
        .nemoImgContainer{
            width: 80%;
            margin-left: 0;
        }
    }

    // section 3 - get in touch
    .section3{
        .getInvolved{
            flex-direction: column;
    
            .locations,
            .community,
            .blog, .intouch{
                width: 82%;
            }
        }
    }
    
    // Section 4 - month profile
    
    .section4{

        .imgBGContainer{
            height: 15rem;
        }
        .profile{

            .profileImgContainer{
                    display: none;
            }
            .profileTextContainer{
                width: 100%;
                margin: 0 auto;
                text-align: center;

                h2{
                    text-align: center;
                }

            }
        }    
    }
//END OF HOMEPAGE STYLE

//START OF BLOG PAGE STYLE
        // h1.titleBlog{
        //     font-size: 4rem;
        // }
        .user1,
        .user2{
            flex-direction: column;

            .userImgContainer{
                width: 50%;
                margin: 0 auto;
                padding-bottom: 10px;
            }
        }

        .interact{
            .tag{
                flex-direction: column;
            }
            .nameTag,
            .emailTag{
                width: 100%;
            }
        }

//END OF BLOG PAGE STYLE
}


@media (max-width:660px){
//START OF HOMEPAGE STYLE
    // Home Page
    
    h1.homePageTitle{
        font-size: 3.6rem;
        line-height: 1.2;
    }
    h2{
        font-size: 1.8rem;
        transition: 1.2s;
    }
//END OF HOMEPAGE STYLE  

// START OF THE BLOG PAGE

    .bottomPart{
        flex-direction: column-reverse;
        padding-bottom: 20px;
    }

    .aside{
        padding-top: 0px;
        max-width: 100%;
        position: relative;

        .sideImgContainer{
            width: 90%;
            // position: relative;
            top: 0px;
            margin: 0 auto;

        }
        .sideTextContainer{
            width: 90%;
            margin: 60px 0 0 30px;

            .text1{
                padding: 75% 0 30px 20px;
            }
        }
    }
    .blogContent{
        max-width: 100%;
    }

//END OF BLOG PAGE STYLE

//START OF CONTACT PAGE STYLE
    
    .contact{
        .tag{
            flex-direction: column;
        }
        .nameTag,
        .emailTag{
            width: 100%;
        }
    } 

//END OF CONTACT PAGE STYLE  
}

@media (max-width:560px){
    h1.homePageTitle,
    h1.sidePageTitle{
        font-size: 3rem;
        transition: 1.2s;
    }

    h3{
        font-size: 1.2rem;
        transition: 1.2s;
    }
    //Header
    .widerScreen{
        height: 500px;
        transition: 1.2s;
    }
    .homeHeaderContainer{
        padding-top: 50%;
    }
    
    .homeHeaderImgContainer{
        display: none;
    }

    label[for="toggle"]{
        display: inline-block;
        height: 40px;
        padding: 10px;
        position: fixed;
        left: 60px;
        z-index: 30;
        background-color: rgba(0, 0, 0, 0.5);
        margin-top: 10px;

        i{
            vertical-align: top; 
        }
        
    }
    .slideMenu{
        transition: 0.6s;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        z-index: 30;
        left: -500px;
    }

    input[type="checkbox"]:checked + .slideMenu{
        left: 0px;
        top: 60px;
        position: fixed;
    }

    //Section 4

    .section4{

        .imgBGContainer{
            height: 10rem;
        }
    }

    //Gallery

    .gallery ul{
        flex-direction: column;
        align-items: center;

        li{
            width: 100%;
            padding: 10px 0;
        }
    }

    //START OF BLOG PAGE
    .blogHeader,
    .contactHeader{
        height: 450px;
        transition: 1.2s;
        
    }
   
}