.navTab{
    position: relative;
}

label[for="toggle"],
input[type="checkbox"]{
    display: none;
    
    &:hover,
    &:focus{
        color: $primary;
        scale: 1.1;
        transition: 0.3s;
    }
}

.slideMenu{
    display: flex;
    justify-content: end;

    li{
        margin: 0 5px;
       
    }
}

