html{
    font-size: 125%;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
    color: $tertiary;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

nav{
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    line-height: 29px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h1, h2, h3, h4{
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

h1{
    font-size: 6.9rem;
    line-height: 6.3rem;
}
h2{
    font-size: 4rem;
    line-height: 4.6rem;
}
h3{
    font-size: 2.1rem;
    text-align: center;
    letter-spacing: 1px;
}
h4{
    font-size: 1.6rem;
    letter-spacing: 1px;
}