html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #ffffff;
}

nav {
  font-size: 1rem;
  line-height: 29px;
  letter-spacing: 1px;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 10px;
}
a:hover, a:focus {
  color: #86e0f9;
  scale: 1.1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

h1, h2, h3, h4 {
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 4rem;
  line-height: 4.6rem;
}

h2 {
  font-size: 2.1rem;
  text-align: center;
  letter-spacing: 1px;
}

h3 {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

html {
  background-color: #233860;
}

* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1560px;
  margin: 0 auto;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.navTab ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.navTab ul li {
  margin: 0 5px;
}

html {
  background-color: #233860;
}

header {
  height: 50vh;
  background: url(../under-the-sea-assets/blog-header.jpg) center/cover no-repeat;
  position: relative;
}
header .headerContainer {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}
header .headerContainer .headerTextContainer {
  width: 100%;
  padding-top: 50px;
}

.aside {
  padding-top: 100px;
  max-width: 40%;
}
.aside .sideImgContainer {
  width: 35%;
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 10;
}
.aside .sideTextContainer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #0f614e;
  width: 82%;
  padding-bottom: 20px;
}
.aside .sideTextContainer .text1 {
  width: 90%;
  padding: 110% 0 30px 20px;
}
.aside .sideTextContainer .text2 {
  padding: 0 20px 0 20px;
}
.aside .sideTextContainer .text2 ul {
  list-style: inside;
}
.aside .sideTextContainer h4 {
  text-transform: uppercase;
  padding-bottom: 10px;
}

main {
  background-color: #0c1423;
  position: relative;
}

.bottomPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogContent {
  max-width: 60%;
}

.postContainer {
  width: 100%;
}

.headerImgContainer {
  position: absolute;
  top: -185px;
  -webkit-box-shadow: -30px 30px #86e0f9;
          box-shadow: -30px 30px #86e0f9;
}

.postText {
  padding: 65% 0 10px 40px;
  margin-left: -20px;
  width: 100%;
  -webkit-box-shadow: -10px 10px #86e0f9;
          box-shadow: -10px 10px #86e0f9;
}
.postText h2 {
  padding-bottom: 15px;
  text-align: left;
}
.postText p:nth-of-type(1) {
  padding-bottom: 40px;
}

.comments {
  width: 100%;
  padding-top: 50px;
}
.comments h3 {
  margin-bottom: 50px;
}

.user1,
.user2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 70px;
}
.user1 .userImgContainer,
.user2 .userImgContainer {
  width: 75%;
}
.user1 .userImgContainer img,
.user2 .userImgContainer img {
  width: 100%;
}
.user1 .userCommentContainer,
.user2 .userCommentContainer {
  padding-left: 30px;
}

.interact {
  padding-bottom: 80px;
}
.interact .tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.interact .nameTag,
.interact .emailTag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(50% - 20px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
}
.interact .nameTag label,
.interact .emailTag label {
  padding-left: 20px;
}
.interact input {
  border: none;
  border-bottom: 2px solid #86e0f9;
  background-color: #0c1423;
  color: #0f614e;
}
.interact textarea {
  width: 100%;
  border: 2px solid #86e0f9;
  background-color: #0c1423;
  padding-top: 40px;
  color: #0f614e;
}
.interact label[for=comment] {
  position: relative;
  top: 40px;
  left: 20px;
}
.interact button {
  width: 100%;
  margin-top: 20px;
  text-transform: uppercase;
  background-color: #0f614e;
  color: #ffffff;
  border: none;
  line-height: 1.8;
}
.interact button:hover, .interact button:focus {
  background-color: #ffffff;
  color: #0f614e;
}

footer {
  background-color: #86e0f9;
  text-align: center;
  color: #0c1423;
}